body {
  margin: 0;
  box-sizing: border-box;
}
.navbar_logo {
  height: 7vh;
  width: auto;
}

.main_container {
  width: 100vw;
  height: 90vh;
  background-image: url("../src/assets/photos/background_black-stage.webp");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.navbar_container {
  width: 100vw;
  height: 10vh;
  background-color: #272727;
}

.band_member_card {
  width: 20vw;
  min-width: 15rem;
  background-color: antiquewhite;
  color: black;
  margin: 2rem;
}
