body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main_container {
  width: 100vw;
  height: 88vh;
  background-image: url("../src/assets/photos/background_black-stage.webp");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.tv_frame {
  position: absolute;
  width: 430px;
  transform: translateX(-2%) translateY(25%);
  z-index: 2;
}

.teaser_rr {
  position: absolute;
  transform: translateX(-15%) translateY(30%);
}

.sound_toggle {
  transform: translateX(300%) translateY(30%);
  z-index: 3;
  background-color: #5b5b5b;
  color: #f7f7f7;
}

@media screen and (max-width: 800px) {
  .tv_frame {
    transform: translateX(-2%) translateY(25%) scale(0.7);
  }

  .teaser_rr {
    transform: translateX(-12%) translateY(32%) scale(0.7);
  }

  .sound_toggle {
    transform: translateX(220%) translateY(30%) scale(0.8);
  }
}
